<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2024.1.319(AdditionalPackages)" value="C:\Users\Shane\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2024.1.319.trial\" />
    <add key="Telerik UI for ASP.NET Core 2024.1.319(MainPackage)" value="C:\Users\Shane\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2024.1.319.trial\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>